{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '1_main.css' %}" /
</head>

<body>
    <div class="bigbox">
        <div class="icon">
            <img class="img1" src="https://images-na.ssl-images-amazon.com/images/I/41EbydlDKML._AC_SY355_.jpg">
            <br>
            <img class="img2" src="https://images-na.ssl-images-amazon.com/images/I/31AWFCkio3L._AC_SX425_.jpg">
        </div>
        
        <div class="box"> 
            <a href="{% url 'create' %}" class="smallbox">포트폴리오 추가</a> <br>
            <a href="{% url 'resume' user.pk %}" class="smallbox">내 피드</a> <br>
            <a href= "{% url 'lookup' %}" class="smallbox">구경 가기</a>
        </div>
    </div>
</body>

</html>
{% endblock content %}