<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>License</p>
    <form action="/create_OCR/" method="post">
        <h3>이미지로 업로드하기</h3></br>
        {% csrf_token %}
        <input type="file" name="Eng_score" enctype="multipart/form-data"/>
        <input type="submit"/>
    </form>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ license_form.category.as_hidden }}
        <p>제목{{ license_form.title}}</p>
        <p>점수{{ license_form.score }}</p>
        <p>취득일자{{ license_form.date_achieved }}</p>
        <p>파일업로드{{ license_form.upload_file }}</p>
        <button type="submit" value="제출">등록하기</button>
    </form>
    <p>Intern</p>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ intern_form.category.as_hidden }}
        <p>제목{{ intern_form.title }}</p>
        <p>요약{{ intern_form.summary }}</p>
        <p>시작일자{{ intern_form.start_date }}</p>
        <p>종료일자{{ intern_form.end_date }}</p>
        <p>파일업로드{{ intern_form.upload_file }}</p>
        <button type="submit" value="제출">등록하기</button>
    </form>
    <p>Club</p>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ club_form.category.as_hidden }}
        <p>제목{{ club_form.title }}</p>
        <p>역할{{ club_form.role }}</p>
        <p>요약{{ club_form.summary }}</p>
        <p>시작일자{{ club_form.start_date }}</p>
        <p>종료일자{{ club_form.end_date }}</p>
        <p>파일업로드{{ club_form.upload_file }}</p>
        <button type="submit" value="제출">등록하기</button>
    </form>
    <p>Paper</p>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ paper_form.category.as_hidden }}
        <p>제목{{ paper_form.title}}</p>
        <p>요약{{ paper_form.summary }}</p>
        <p>파일업로드{{ paper_form.upload_file }}</p>
        <button type="submit" value="제출">등록하기</button>
    </form>
    <p>Other</p>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ other_form.category.as_hidden }}
        <p>제목{{ other_form.title}}</p>
        <p>요약{{ other_form.summary }}</p>
        <p>파일업로드{{ other_form.upload_file }}</p>
        <button type="submit" value="제출">등록하기</button>
    </form>

</body>

</html>