{% extends 'base.html' %}{% block title %}{% endblock title %}{% load static %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'resume.css' %}"> {% endblock css %}

{% block content %}
<div class="resume_body">
    <div class="resume_heading">{{user.username}}님의 포트폴리오</div>

    <div class="resume_top">
        <div><img src="../../documents/{{profile}}" class="profile_pic"></div>
        <div class="resume_profile_description">
            <div>{{profile_name}}</div>
            <div>{{profile_date}}</div>
            <div>{{profile_class_year}}</div>
            <div>{{profile_high_school}}</div>
            <div>{{profile_university}}</div>
            <div>{{profile_occupation}}</div>            
        </div>
    </div>

    <div class="resume_content">
        <div class="license">
            <span>자격증</span>
            {% for license in licenses %}
            <div class="license_each">
                <div><a href="{%url 'detail_license' user.pk license.pk %}">{{license.title}}</a></div>
                <div>{{license.score}}</div>
                <div>{{license.date}}</div>
            </div>
            {% endfor %}            
        </div>

        <div class="intern">
            <span>경력사항</span>
            {% for intern in interns %}
            <div>
                <div><a href="{% url 'detail_intern' user.pk intern.pk %}">{{intern.title}}</a></div>
                <div>{{intern.start_date}} - {{intern.end_date}}</div>
            </div>
            {% endfor %}
            
        </div>
        
        <div class="club">

            <span>동아리/대외활동</span>
            {% for club in clubs  %}
            <div>
                <div><a href="{% url 'detail_club' user.pk club.pk %}">{{club.title}}</a></div>
                <div>{{club.role}}</div>
                <div>{{club.start_date}}</div>
                <div>{{club.end_date}}</div>
            </div>
            {% endfor %}
            
        </div>

        <div class="paper">
            <span>공모전/논문/프로젝트</span>
            {% for paper in papers %}
            <div>
                <div><a href="{% url 'detail_paper' user.pk paper.pk %}">{{paper.title}}</a></div>
                <div>{{paper.date}}</div>
            </div>
            {% endfor %}
        </div>

        <div class="other">
            <span>그 외 활동</span>
            {% for other in others %}
            <div>
                <div><a href="{% url 'detail_other' user.pk other.pk %}">{{other.title}}</a></div>
                <div>{{other.summary}}</div>
            </div>
            {% endfor %}
            
        </div>
    </div>
    

</div>    

{% endblock content %}