{% extends 'base.html' %}{% block title %}{% endblock title %}{% load static %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'detail_other.css' %}"> {% endblock css %}

{% block content %}
<div class="other_entire">
    <img src="{% static 'create_image/other.png'%}" class="other_image" height= 60%; width= 30%;>
    <div class="other_body">
        <div class="other_title">{{other.title}}</div>
        <div class="other_summary">{{other.summary}}</div>
        
        <a href=../../documents/{{other.upload_file}}>{{other.title}}파일</a>
        {% if request.user == other.user %}
        <div class="edit_tools">
            <a href="{% url 'update_other' user.pk other.pk %}">수정하기</a>
            <a href="{% url 'delete_other' user.pk other.pk %}">삭제하기</a>
        </div>
        {% endif %}
    </div>
</div>


{% endblock content %}