{% extends 'base.html' %}{% block title %}{% endblock title %}{% load static %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static '5_update_paper.css' %}"> {% endblock css %}

{% block content %}
<form method = 'POST'>
    {% csrf_token %}
    <p align="center">피드 업데이트</p>
    <div class="box"> 
        <input type="text" name="title" placeholder = 'paper을 입력하세요'><br>
        <input type="text" name="summary" placeholder = 'paper 에 대해서 입력하세요'><br>
        <input type="file" name="upload_file"><br>
        <button type = "submit">수정하기</button>
    </div>
</form>
{% endblock content %}