{% for filtered_user in filtered_users|dictsortreversed:"like_users.count" %}
    {% if filtered_user in user.autouser.follows.all%}
        <div class="resumeBox">
            <div class="resume"> {{filtered_user.name }}
                <h3> 좋아요 수: {{like_users.count}} </h3>
                <div class="licenseBox">
                    <h1> 자격증 목록 </h1>
                    {% for licesne in filtered_user.license_set.all%}
                        {{license.title }}
                    {% endfor %}
                </div>
                <div class="clubBox">
                    <h1> 동아리 목록 </h1>
                    {% for club in filtered_user.club_set.all%}
                        {{club.title }}
                    {% endfor %}
                </div>
                <div class="internBox">
                    <h1> 인턴 목록 </h1>
                    {% for intern in filtered_user.intern_set.all%}
                        {{intern.title }}
                    {% endfor %}
                </div>    
                <div class="paperBox">
                    <h1> 논문/프로젝트 목록 </h1>
                    {% for paper in filtered_user.paper_set.all%}
                        {{paper.title }}
                    {% endfor %}
                </div> 
                <div class="otherBox">
                    <h1> 기타 활동 </h1>
                    {% for other in filtered_user.other_set.all%}
                        {{other.title }}
                    {% endfor %}
                </div>  
            </div> 
        </div>
    {% else %}
        <div class="resumeBox">
            <div class="resume"> {{filtered_user.name}} 님의 정보입니다.
                <h3> 좋아요 수: {{like_users.count}} </h3>
                <div class="licenseBox">
                    <h1> 자격증 목록 </h1>
                    {% for licesne in filtered_user.license_set.all%}
                        {{license.title }}
                    {% endfor %}
                </div>
                <div class="clubBox">
                    <h1> 동아리 목록 </h1>
                    {% for club in filtered_user.club_set.all%}
                        {{club.title }}
                    {% endfor %}
                </div>
                <div class="internBox">
                    <h1> 인턴 목록 </h1>
                    {% for intern in filtered_user.intern_set.all%}
                        {{intern.title }}
                    {% endfor %}
                </div>    
                <div class="paperBox">
                    <h1> 논문/프로젝트 목록 </h1>
                    {% for paper in filtered_user.paper_set.all%}
                        {{paper.title }}
                    {% endfor %}
                </div> 
                <div class="otherBox">
                    <h1> 기타 활동 </h1>
                    {% for other in filtered_user.other_set.all%}
                        {{other.title }}
                    {% endfor %}
                </div>   
            </div>
        </div>
    {% endif %}
{% endfor %}