body {
    font-size: 25px;
    font-weight: regular;
    
}

p {
    font-size: 20px;
    align-items: center;
}

.login_img {
    height: 300px;
    width: 300px;
}

.big_box {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    
}
.login_box {
    border: 3px solid #D25430;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;
}