
{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'login.css' %}" />

<form method="post" action={% url 'login' %}>
    {% csrf_token %}
    <div class="big_box">
        <div>
            <img class = "login_img" src="{% static 'gear.gif' %}">
            <br>
            <br>
            <p align="center">오토폴리오는 간편하게 자격증과 <br>
            이력을 정리하고 직군 별로 다른 사람의 <br>
            포트폴리오를 볼 수 있는 서비스야</p>
        </div>  
        <div class = "login_box">
            아이디<input type="text" name="username"></br>
            비밀번호<input type="password" name="password"></br>
            <input type="submit" value="로그인"> <br>
            <a href={% url 'signup' %}>회원가입</a>
        </div>
    </div>
</form>

{% endblock content %}
    

