{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'signup.css' %}" />
<div class="signup_main">
    <div class="signup_image">
        <img id="profile_photo" alt="" src="../static/signup.png">
    </div>
    <div class="signup_form">
        <h1 style="color: #D25430;">환영합니다</h1>
            <form method="POST" action={% url 'signup' %} enctype="multipart/form-data">
                {% csrf_token %}
                <div class="signup_form_main">
                    <p>아이디</p> <input type="text" name="username" placeholder="아이디를 입력해주세요" required>
                    <p>비밀번호</p> <input type="password" name="password" placeholder="비밀번호를 입력해주세요" required>
                    <p>비밀번호 확인</p> <input type="password" name="password_confirm" placeholder="비밀번호를 한번 더 입력해주세요" required>
                    <p>이름</p> <input type="text" name="name" placeholder="이름을 입력해주세요" required>
                    <p>생년월일</p> <input type="date" name="date">
                    <p>이메일</p> <input type="text" name="email" placeholder="예: Poly@naver.com" required>
                    <p>사진</p> <input type='file' id="upload_file" name="profile">
                    <p>고등학교</p> <input type="text" name="high_school" placeholder="고등학교를 입력해주세요">
                    <p>대학</p> <input type="text" name="university" placeholder="대학을 입력해주세요">
                    <p>학과</p> <input type="text" name="major" placeholder="학과를 입력해주세요">
                    <p>계열</p> <select id="occupation" name="occupation">
                        <option value="문과">문과</option>
                        <option value="이과">이과</option>
                        <option value="예체능">예체능</option>
                        </select>
                </div>
                <div class="signup_form_button">
                    <button type="submit" style="display: flex; align-items:center;"><p class="start">오토폴리오 시작하기<p></button>
                <div>

                
            <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
            <script type="text/javascript">

                $(function() {
                    $("#upload_file").on('change', function(){
                        console.log(1)
                        readURL(this);
                    });
                });
                function readURL(input) {
                    if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                            $('#profile_photo').attr('src', e.target.result);
                        }
                        reader.readAsDataURL(input.files[0]);
                    }
                }
            </script>
        </form>
    </div>
</div>


{% endblock content %}
